.btn {
	border: 4px solid $darkBlue;
	padding: 1rem 3rem;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 2rem;
	background-color: inherit;
	cursor: pointer;
	color: $darkBlue;

	&:hover,
	&:focus {
		box-shadow: inset 20rem 0 0 0 $highlight;
		border: 4px solid rgba(0, 0, 0, 0);
		transition: 0.8s;
		color: $darkBlue;
	}

}