.btn {
	border: 4px solid $darkBlue;
	padding: 1rem 3rem;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 2rem;
	background-color: inherit;
	cursor: pointer;
	&:hover,
	&:focus {
		box-shadow: inset 20rem 0 0 0 $highlight;
		border: 2px solid rgba(0, 0, 0, 0);
		transition: 0.8s;
	}
}

// And from the left
.slide:hover,
.slide:focus {
	box-shadow: inset 6.5em 0 0 0 var(--hover);
}
