// Fonts
$font-stack: neuzeit-grotesk, sans-serif;

// Colors
$darkBlue: #17113b;
$white: #fff;
$highlight: #f0952b;
$gray: #8b939b;

$background: linear-gradient(171deg, rgba(74,98,203,1) 20%, rgba(210,101,250,1) 51%, rgba(74,98,203,1) 80%);
