h1 {
	font-size: 12rem;
	font-weight: 200;

	@media screen and (max-width: 768px) {
		font-size: 8rem;
	}
}

h2 {
	font-size: 6rem;
	font-weight: 200;
	margin: 0 auto;
	padding-top: 2rem;

	@media screen and (max-width: 768px) {
		font-size: 3.5rem;
		justify-content: center;
	}
}

h3 {
	font-size: 3rem;
	font-weight: 200;
}
