.home-hero{
  width: 100;
  text-align: center;
  margin: auto;

  &-heading {
	font-weight: 200;
  font-size: 12rem;
  padding: 1.5rem 0;
  color: $darkBlue;

	  .highlight {
		  color: $highlight;
      font-weight: 600;
	  }
  }

  &-paragraph {
    font-size: 1.4rem;
    color: $darkBlue;
    line-height: 1.4;
    margin: 1rem auto 5rem auto;
    font-style: italic;
  }
}


