.home-hero {
	width: 100;
	text-align: center;
	margin: auto;
	margin-top: 3rem;

	&-heading {
		padding: 1.5rem 0;
		color: $darkBlue;
	}

	&-paragraph {
		font-size: 1.4rem;
		color: $darkBlue;
		line-height: 1.4;
		margin: 1rem auto 5rem auto;
		font-style: italic;
	}
}
