.nav {
	background: $darkBlue;
	color: $white;
	display: flex;
	height: 80px;
	align-items: center;
	padding: 0 5rem 0 3rem;
	z-index: 10;
	width: 100%;

	img {
		width: 25%;

		@media screen and (max-width: 768px) {
			width: 50%;
		}
	}

	&-btn {
		display: none;

		@media screen and (max-width: 1150px) {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(-100%, 75%);
			background: none;
			border: none;
			font-size: 1.8rem;
			cursor: pointer;
		}
	}

	&-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-size: 1.2rem;
		width: 70%;

		@media screen and (max-width: 1150px) {
			display: none;
		}
	}
}

.mav-mobile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	font-size: 1.6rem;
	color: $white;
	background: $darkBlue;
	height: 100vh;
	justify-content: space-evenly;
}
